doctype html
html(data-ng-app="mtgbuilder")
	head
		title MTG Deck Builder
		link(rel="stylesheet", type="text/css", href="assets/css/bootstrap.min.css")
		link(type="text/css", rel="stylesheet", href="assets/css/global.css")
		link(type="text/css", rel="stylesheet", href="assets/css/color-button.css")
		script(src="assets/js/jquery.js")
		script(src="assets/js/bootstrap.min.js")
		script(src="https://cdn.firebase.com/js/client/2.2.2/firebase.js")
		script(src="assets/js/custom.js")
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-route/angular-route.js")
		script(src="javascripts/application.js")
	body(data-spy="scroll", data-target=".subnav", data-offset="50", data-twttr-rendered="true")
		h1.
			Hello World!
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href="#")
					.nav-collapse
						ul.nav.pull-right
							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown")
									Decks
								ul.dropdown-menu#dropSlots
									li
										a(href="decks.html")
		.main
			.container
				div(data-ng-view="")
		.footer
			.container
				.row
					.span6.logo-vt
						a.brand( href="#")
						span(class="copy_right")
					.span2
						ul.nav.nav-list
					.span2
						ul.nav.nav-list
					.span2
						ul.nav.nav-list
