.row
	.box-wrapper.span12
		.widget
			.wrapper-search
				form.form-inline.form-search.border-rd4
					input.box-text(placeholder="Search Cards" type="text")
.row
	.box-wrapper.span12
		
		.row
			.title.span12
		div
			ul#cardShow.thumbnails.thumbnails-horizontal
			
